section.timer {
    margin: 0 50px;
    padding: 0 30px;
    width: 80%;
    height: 100px;
}

section.timer div.wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

section.timer div.wrap div.timer-counter {
    font-size: 2.1rem;
    text-align: left;
    width: 100px;
    font-family: Ubuntu, sans-serif;
    color: #a9d7ff;
}

section.timer div.timeline {
    width: 100%;
    /*margin: 0 auto;*/
    height: 35px;
    border: 1px solid #3e4a52;
    background-color: #1a1f23;
}

section.timer div.timeline > div.best-time-bar,
section.timer div.timeline > div.average-time-bar,
section.timer div.timeline > div.player-time-bar {
    width: 0;
    height: 33%;
    border-radius: 0;
    background-color: #67b7e6;
}

section.timer div.timeline > div.best-time-bar {
    background-color: #9ce2ba;
    height: 33%;
}

section.timer div.timeline > div.average-time-bar {
    background-color: #5691ad;
    height: 33%;
}
