[class~='ant-col'] {
    background: transparent;
    border: 0;
}

[class~='ant-col'] > div {
    height: 120px;
    font-size: 14px;
    line-height: 120px;
    background: #0092ff;
    border-radius: 4px;
}

pre {
    padding: 8px 16px;
    font-size: 13px;
    background: #f9f9f9;
    border-radius: 6px;
}

pre.demo-code {
    direction: ltr;
}

.ant-col {
    padding: 0;
}

.withDefaultAnimation {
    transition: all 0.2s, background 0s;
    transition-behavior: normal, normal;
    transition-duration: 0.2s, 0s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
}

.demo-logo-vertical {
    height: 100px;
}
