section.infoPanel {
    position: fixed;
    z-index: 801;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;
    height: 90px;

    background-color: #262b2f;
    font-family: 'Roboto', sans-serif;
}

section.infoPanel.complete {
    background-color: #1d7053;
}

section.infoPanel > .separator {
    width: 100%;
    height: 6px;
    background-color: #2a363f;
    margin: 0;
    padding: 0;
}

section.infoPanel.complete > .separator {
    background-color: #37866c;
}

section.infoPanel .ui {
    min-width: 800px;
    width: 75%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    height: 100%;
}

.ui section.left-area {
    display: flex;
    justify-content: flex-end;
    width: 25%;
}

.ui section.center-area {
    width: 50%;
}

.ui section.right-area {
    display: flex;
    justify-content: flex-start;
    width: 25%;
}

.left-area .left-user-info,
.right-area .right-user-info,
.center-area .center-info {
    display: flex;
    margin-top: 8px;
    max-width: 220px;
}

/*  center-area  */
.ui .center-area .center-info {
    max-width: unset;
    flex-wrap: wrap;
}

.center-info .user-progress {
    width: 100%;
}

.center-info .compare-progress {
    width: 100%;
}

.center-info .footer {
    width: 100%;
}

.footer .up-next {
    color: #678393;
    font-size: 1.3rem;
    margin-top: 10px;
}

.complete .footer .up-next {
    color: #b3e2ff;
}

.footer .up-next a {
    margin: 0 7px;
}

.footer .up-next a.more-up-next {
}

.footer .up-next a.more-up-next svg {
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    position: absolute;
}

    /*  left-area  */

.left-area .left-user-info .user-profile {
    width: 60px;
    min-width: 60px;
    height: 100%;
    margin: -6px 10px 0 0;
}

.left-area .left-user-info .user-profile .user-pic img {
    margin: 7px 0 4px 0;
    padding: 0;
    border-radius: 50%;
    user-select: none;
}

.left-area .left-user-info .user-profile .user-pic svg {
    fill: #7ca0bb;
}

.left-area .left-user-info .user-profile .login {
    color: #77a4bd;
    margin-top: -4px;
}

.left-area .left-user-info .user-profile .login span {
    color: #77a4bd;
}

.left-area .left-user-info .user-profile:hover .user-pic svg,
.complete .left-area .left-user-info .user-profile .user-pic svg,
.left-area .left-user-info .user-profile:not(.logged-in):hover .login span,
.complete .left-area .left-user-info .user-profile:not(.logged-in) .login {
    color: #9ce0e2;
    fill: #9ce0e2;
    cursor: pointer;
}

/* left-area user-stat */

.left-area .left-user-info .user-stat .wpm-indicator {
    min-width: 150px;
    color: #9ad0ef;
    font-size: 2.2rem;
    text-align: left;
    font-weight: 100;
}

.complete .left-area .left-user-info .user-stat .wpm-indicator,
.complete .left-area .left-user-info .user-stat .cpm-indicator,
.complete .left-area .left-user-info .user-stat .time-indicator
{
    color: #bde7ff;
}

.left-area .left-user-info .user-stat .cpm-indicator, .time-indicator {
    color: #718896;
    font-size: 1.2rem;
    text-align: left;
}

.cpm-indicator, .time-indicator {
    margin-top: 2px;
    font-size: 1.1rem;
}

/*  right-area  */
.ui .right-area .right-user-info {
    flex-wrap: wrap;
    align-content: flex-start;
    margin-left: 15px;
}

.correct-stat {
    color: #bde7ff;
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    text-align: left;
}

.correct-stat span.remain {
    color: #5690c5;
}

.mistakes-stat {
    color: #56728b;
    font-size: 1.2rem;
    margin-top: 4px;
    font-weight: 300;
}

.complete .mistakes-stat {
    color: #bde7ff;
}

