
/* ------------------- toggle-typing-mode */
div.toggle-typing-mode {
    padding: 0;
    margin: .3rem;
    background: none;
    border: 0;
    outline: 0;
    display: flex;
}

div.toggle-typing-mode:hover {
    cursor: pointer;
}

div.toggle-typing-mode svg {
    width: 1.8rem;
    fill: #6f8db3;
    transition: transform .1s;
}

div.toggle-typing-mode svg:hover {
    fill: #90b4e1;
}

.fade-out-typing-mode svg {
    transform: rotate(180deg);
}

/* ------------------- font-controls */

div.font-controls {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
    background: #262e35;
    padding: 0.5rem 0.8rem;
    border-radius: 5px;
}

div.font-controls button {
    font-family: Garamond, serif;
    font-size: 1.2rem;
    color: #83a9d8;
    margin: 0.3rem 0 0.3rem 0.2rem;
    background: #303236;
    border: 1px solid #52667e;
    border-radius: 3px;
    display: block;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    user-select: none;
}

div.font-controls button:hover {
    background: #3b4150;
}

.fs-m {
    font-size: 1.8rem;
}

.fs-l {
    font-size: 2rem;
}

.fs-xl {
    font-size: 2.3rem;
}

.fs-xxl {
    font-size: 2.6rem;
}

.fs-xxxl {
    font-size: 3rem;
}

.fs-4xl {
    font-size: 3.4rem;
}

.fs-s {
    font-size: 1.6rem;
}

.fs-xs {
    font-size: 1.4rem;
}

.fs-xxs {
    font-size: 1.2rem;
}

.fs-xxxs {
    font-size: 1rem;
}
