section.explorer {
    background-color: #262b2f;
    position: fixed;
    top: 80px;
    font-size: .7rem;
    border: 1px solid #3d4b53;
    padding: 10px;
    z-index: 801;
}

div.controls {
    position: fixed;
    left: 0;
    top: 40px;
    height: 40px;
}

div.controls button {
    background-color: #262b2f;
    color: #8eb9d1;
    padding: 10px 20px;
    border: 1px solid #333333;
    cursor: pointer;
    outline: none;
}

div.controls button:hover {
    color: #9ccae2;
}

div.codeSampleItem {
    color: #8eb9d1;
    /* border: 1px solid #333333; */
    padding: 6px 10px;
    text-align: left;
    width: 180px;
    font-size: .8rem;
}

div.codeSampleItem span {
    cursor: pointer;
}

div.codeSampleItem span.active {
    color: white;
    cursor: text;
    /*pointer-events: none;*/
}