section.codingArea {
  position: relative;
  margin: 0 0 190px 0;
  text-align: left;
  font-size: 1.8rem;
}

section.codingArea h2 {
  margin: 5px 0 15px;
  text-align: center;
  font-size: 2.1rem;
  font-weight: normal;
}

section.codingArea h2 div.mainCategory {
  margin: 0 10px;
  color: #6a7487;
  font-size: 1.1rem;
}

span.await {
  color: #e3fcff;
}

span.tab {
  /*font-size: 1.5rem;*/
  margin: 0 4px 0 0;
  color: #3d4148;
}

span.lineBreak {
  margin: 0 5px;
  color: #464d5a;
}

span.lineBreak::after {
  content: "\A";
  white-space: pre;
}

span.ok {
  color: #505050;
}

span.mistake {
  color: #f19c83;

  background-color: #573430;
}

span.cursor {
  text-decoration: underline;
  color: #ffffff;
  background-color: #8d8649;
}

span.cursor.mistake {
  background-color: #dc3c54;
}

span.cursor.ok {
  color: #ffffff;
  background-color: #489940;
}

span.lineBreak.cursor,
span.tab.cursor {
  text-decoration: none;
  color: #ffffff;
}
