section.infoPanel {
  position: fixed;
  z-index: 801;
  bottom: 0;
  left: 250px;

  display: flex;
  justify-content: space-between;

  width: calc(100% - 250px);
  height: 60px;

  background-color: #262b2f;
}

div.currentStats {
  font-size: 1.6rem;

  display: flex;
  align-content: center;
  align-items: center;

  height: 50px;
  margin: 0 20px;

  white-space: nowrap;

  color: #c5eaff;
  background-color: #262b2f;
}

div.todayStats {
  font-size: 1.6rem;

  display: flex;
  align-content: center;
  align-items: center;

  height: 50px;
  margin: 0 20px;

  white-space: nowrap;

  color: #c5eaff;
  background-color: #262b2f;
}

div.currentStatus {
  font-size: 1.6rem;

  display: flex;
  align-content: center;
  align-items: center;

  height: 50px;
  margin: 0 20px;

  white-space: nowrap;

  color: #c5eaff;
}

span.text {
  margin: 0 10px 0 0;
}

span.text .progress {
  color: #688696;
}

span.text .complete {
  color: #f2ffff;
}

span.keysLeft {
  color: #619bcc;
}

section.infoPanel.complete {
  background-color: #1d7053;
}

section.infoPanel.complete div.todayStats,
section.infoPanel.complete div.currentStats {
  background-color: #1d7053;
}

.progressbar {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 7px;

  border-top: 1px solid #3e4a52;
  background-color: #1a1f23;
}

.progressbar > div.bar {
  width: 0;
  height: 100%;

  transition-delay: 0ms;
  transition-timing-function: linear;
  transition-duration: 0s;
  transition-property: width;

  border-radius: 0;
  background-color: #67b7e6;
}
