a.app-logo {
    color: #9cc4e2;
    width: 110px;
    height: 110px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px #284a64 dashed;
    opacity: 1;
    transition: opacity .5s linear;
}

a.app-logo.hiding {
    opacity: 0;
}

a.app-logo svg {
    overflow: hidden;
    height: 70px;
    width: 70px;
    position: relative;
    margin: 0;
    padding: 0;
    animation: app-logo-spin infinite 50s linear;
    pointer-events: none;
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}

section.codingAreaHeader {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    color: white;
}

section.codingAreaHeader button.loginBtn {
    color: #acd6f5;
    background-color: #18191c;
    text-decoration: underline;
    border: none;
    font-size: 1.2rem;
    margin: 0 0 2rem 0;
}

section.codingAreaHeader button.loginBtn:hover {
    cursor: pointer;
    color: #ffffff;
}

section.codingAreaHeader {
    font-size: 2.1rem;
    font-weight: normal;

    margin: 5px 0;
    text-align: center;
}

section.codingAreaHeader div.mainCategory {
    font-size: 1.1rem;
    margin: 10px;
    color: #6a7487;
}

section.codingAreaHeader div.mainCategory a {
    font-size: 1.6rem;
    line-height: 160%;
}

section.codingAreaHeader div.mainCategory a > img {
    width: 1.7rem;
    filter: invert(48%) sepia(79%) saturate(150%) hue-rotate(126deg) brightness(118%) contrast(119%);
    position: absolute;
    margin: .3rem 0 0 -1.95rem;
}

section.codingAreaHeader div.mainCategory a:hover > img {
    filter: invert(85%);
}

section.codingAreaHeader div.mainCategory a.license {
    color: var(--blue-link);
    font-size: 1rem;
}

section.codingAreaHeader div.mainCategory a.license:hover {
    color: white;
}

/* retype-logo */
a.home-logo {
    text-decoration: none;
    margin: 40px 0 40px 0;
}

div.retype-logo {
    display: flex;
    font-family: Roboto, sans-serif;
    user-select: none;
    /*transform: scale(1.1);*/
    transform: translateX(10px);
}

div.retype-logo .logo-icon {
    color: white;
    border: 1px #a5d7ef solid;
    border-radius: 10px;
    width: 70px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 300;
}

div.retype-logo:hover .logo-icon {
    border-color: #91deb1;
    background-color: #222328;
}

div.retype-logo .left-side {
    margin-left: 10px;
}

div.retype-logo .left-side .text-title {
    color: #a5d7ef;
    font-size: 42px;
    text-align: left;
    font-weight: 100;
    margin: -4px 0 0 0;
}

div.retype-logo:hover .left-side .text-title {
 color: #91deb1;
}

div.retype-logo .left-side .sub-title {
    color: #a6a6a7;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
    margin: -2px 0 0 2px;
    letter-spacing: 2px;
}

div.retype-logo:hover .left-side .sub-title {
    color: #b7b7b7;
}
