.app-logo {
    color: #9cc4e2;
    margin: 40px 0 20px 0;
    border-radius: 50%;
    padding: 17px;
    border: 1px #284a64 dashed;
    opacity: 1;
    transition: opacity .5s linear;
}

a.app-logo.hiding {
    opacity: 0;
}

.app-logo svg {
    overflow: hidden;
    height: 70px;
    width: 70px;
    margin: 3px 0 0 0;
    padding: 0;
    line-height: 100;

    animation: app-logo-spin infinite 50s linear;
    pointer-events: none;
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}

section.codingAreaHeader {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    min-height: 100vh;

    color: white;
}

section.codingAreaHeader h2 {
    font-size: 2.1rem;
    font-weight: normal;

    margin: 5px 0;
    text-align: center;
}

section.codingAreaHeader h2 div.mainCategory {
    font-size: 1.1rem;
    margin: 10px;
    color: #6a7487;
}

section.codingAreaHeader h2 div.mainCategory a > img {
    width: 1.7rem;
    filter: invert(48%) sepia(79%) saturate(150%) hue-rotate(126deg) brightness(118%) contrast(119%);
    position: absolute;
    margin-left: -1.95rem;
}

section.codingAreaHeader h2 div.mainCategory a:hover > img {
    filter: invert(85%);
}

