.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 50s linear;
    height: 13vmin;
    pointer-events: none;
    margin: 0 0 20px 0;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

section.codingArea {
    position: relative;
    text-align: left;
    font-size: 1.8rem;
    margin: 0 0 190px 0;
}

section.codingArea h2 {
    font-weight: normal;
    text-align: center;
    font-size: 2.1rem;
    margin: 5px 0 15px;
}

section.codingArea h2 div.mainCategory{
    font-size: 1.1rem;
    color: #6a7487;
    margin: 0 10px;
}

span.await {
    color: #e3fcff;
}

span.tab {
    /*font-size: 1.5rem;*/
    margin: 0 4px 0 0;
    color: #3d4148;
}

span.lineBreak {
    margin: 0 5px;
    color: #464d5a;
}

span.lineBreak::after {
    content: "\A";
    white-space: pre;
}

span.ok {
    color: #505050;
}

span.mistake {
    color: #f19c83;
    background-color: #573430;
}

span.cursor {
    text-decoration: underline;
    background-color: #8d8649;
    color: #ffffff;
}

span.cursor.mistake {
    background-color: #dc3c54;
}

span.cursor.ok {
    color: #ffffff;
    background-color: #489940;
}

span.lineBreak.cursor, span.tab.cursor {
    color: #ffffff;
    text-decoration: none;
}

section#bottomPanel {
    background-color: #262b2f;
    position: fixed;
    width: 100%;
    z-index: 801;
    bottom: 0;
    left: 0;
    height: 60px;
}

section#bottomPanel.complete {
    background-color: #1d7053;
}

#progressbar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #1a1f23;
    border-top: 1px solid #3e4a52;
    height: 7px;
}

#progressbar > div.bar {
    background-color: #67b7e6;
    width: 0%;
    height: 100%;
    border-radius: 0;
    transition-property: width;
    transition-duration: 0s;
    transition-delay: 0ms;
    transition-timing-function: linear;
}

div.timerStats {
    top: 8px;
    left: 0;
    position: absolute;
    font-size: 1.6rem;
    color: #c5eaff;
    width: 105px;
    /*background-color: #202227;*/
}

div.statPanelNumbers {
    top: 6px;
    left: calc(50% - 150px);
    position: absolute;
    font-size: 1.6rem;
    color: #c5eaff;
    /*background-color: #202227;*/
    width: 300px;

}
div.statPanelNumbers span.statusText {
    margin: 0 10px;
}

span.statusText .progress{
    color: #688696;
}

span.statusText .complete{
    color: #f2ffff;
}

span.keysLeft {
    color: #619bcc;
}

