html {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-variant-ligatures: none;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

:root {
    --base-color: hsl(223, 6%, 10%);
    --success-color: hsl(180, 10%, 12%);
    --blue-link: #a7c3ee;
}

body {
    margin: 0;
    padding: 0;
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/

    background-color: var(--base-color);
    transition-duration: 0s;
    transition-property: background-color;
    transition-timing-function: linear;
}

body.completed {
    /*background-color: var(--success-color);*/
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.CodeTrainerApp {
    display: flex;
    text-align: center;
}

a {
    color: #9ce0e2;
}

a:hover, a:focus {
    color: #ffffff;
}

a.green {
    color:#00bcb4;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0 0 10px 0;
}

.copyright {
    color: white;
}
