* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: hsl(223deg 10% 12%);;
}

body.completed {
    background-color: hsl(180deg 10% 12%);;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.CodeTrainerApp {
    display: flex;
    text-align: center;
}

a {
    color: #9ce0e2;
}

a:hover, a:focus {
    color: #ffffff;
}

a.green {
    color:#00bcb4;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0 0 10px 0;
}
